{
  "openapi": "3.0.3",
  "info": {
    "title": "Blockline MEV Analytics API",
    "description": "Professional MEV analytics API for Solana. Analyze transaction context, detect front-running, identify sandwich attacks, and gain competitive intelligence on Solana MEV activity.",
    "version": "1.0.0",
    "contact": {
      "name": "Blockline Support",
      "url": "https://blockline.mevseer.com"
    }
  },
  "servers": [
    {
      "url": "https://api.soltop.sh",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API Key authentication. Format: `sk_live_xxx` (production) or `sk_test_xxx` (testing). Obtain your API key from the [Blockline Dashboard](https://blockline.mevseer.com/dashboard/api-keys)."
      }
    },
    "schemas": {
      "Transaction": {
        "type": "object",
        "properties": {
          "signature": {
            "type": "string",
            "description": "Base58-encoded transaction signature",
            "example": "pHXgUjY4cVvi5orXuK3b66MBhF2W3MpXruRGKodqTWze7354iVQ66k1rWCzyWTU7UDeebojPTpW9ZmVv9Dn12cg"
          },
          "signer": {
            "type": "string",
            "description": "Base58-encoded signer public key",
            "example": "FnmStvzQ27Pm4U8r3M6gPD7mnk6ST6HwraPsoNmYpump"
          },
          "slot": {
            "type": "integer",
            "description": "Solana slot number when transaction was processed",
            "example": 370537741
          },
          "poh_tick": {
            "type": "integer",
            "description": "Proof of History tick count",
            "example": 23714415424
          },
          "entry_index": {
            "type": "integer",
            "description": "Index of the entry within the slot",
            "example": 2
          },
          "tx_index": {
            "type": "integer",
            "description": "Index of the transaction within the entry",
            "example": 0
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Transaction timestamp",
            "example": "2025-10-01T19:22:33Z"
          },
          "is_vote": {
            "type": "integer",
            "description": "Whether this is a vote transaction (0=false, 1=true)",
            "example": 0
          },
          "accounts_read_count": {
            "type": "integer",
            "description": "Number of accounts read by the transaction",
            "example": 22
          },
          "accounts_written_count": {
            "type": "integer",
            "description": "Number of accounts written by the transaction",
            "example": 35
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "oneOf": [
              {"type": "string"},
              {"type": "array", "items": {"type": "string"}}
            ],
            "description": "Detailed error information"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the error occurred"
          }
        }
      }
    }
  },
  "paths": {
    "/analyze-trade": {
      "post": {
        "summary": "Analyze Trade Context",
        "description": "Analyzes all transactions that touched a specific account (market) within ±N slots of your transaction. Shows PoH tick offsets to understand who traded before/after you. Essential for front-running and sandwich attack detection.",
        "operationId": "analyzeTrade",
        "tags": ["Trade Analysis"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["signature", "account_id"],
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "Your transaction signature (base58, 87-88 characters)",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{87,88}$",
                    "example": "pHXgUjY4cVvi5orXuK3b66MBhF2W3MpXruRGKodqTWze7354iVQ66k1rWCzyWTU7UDeebojPTpW9ZmVv9Dn12cg"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The market/account ID you were trading on (base58, 32-44 characters)",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                    "example": "FnmStvzQ27Pm4U8r3M6gPD7mnk6ST6HwraPsoNmYpump"
                  },
                  "slot_range": {
                    "type": "integer",
                    "description": "Number of slots before/after to search",
                    "default": 4,
                    "minimum": 1,
                    "maximum": 100,
                    "example": 4
                  },
                  "start_time": {
                    "type": "integer",
                    "description": "Unix timestamp - start of time window to search for original transaction (optional filter)",
                    "example": 1729368000
                  },
                  "end_time": {
                    "type": "integer",
                    "description": "Unix timestamp - end of time window to search for original transaction (optional filter)",
                    "example": 1729371600
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Results per page (pagination)",
                    "default": 100,
                    "maximum": 1000,
                    "example": 100
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page number for pagination",
                    "default": 1,
                    "minimum": 1,
                    "example": 1
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Basic request",
                  "value": {
                    "signature": "pHXgUjY4cVvi5orXuK3b66MBhF2W3MpXruRGKodqTWze7354iVQ66k1rWCzyWTU7UDeebojPTpW9ZmVv9Dn12cg",
                    "account_id": "FnmStvzQ27Pm4U8r3M6gPD7mnk6ST6HwraPsoNmYpump",
                    "slot_range": 4
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean", "example": true},
                    "data": {
                      "type": "object",
                      "properties": {
                        "original_transaction": {"$ref": "#/components/schemas/Transaction"},
                        "slot_range": {
                          "type": "object",
                          "properties": {
                            "from": {"type": "integer", "example": 370537737},
                            "to": {"type": "integer", "example": 370537745},
                            "range": {"type": "integer", "example": 4}
                          }
                        },
                        "results_by_slot": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slot": {"type": "integer"},
                              "slot_offset": {"type": "integer", "description": "Negative = before, 0 = same slot, Positive = after"},
                              "transactions": {
                                "type": "array",
                                "items": {
                                  "allOf": [
                                    {"$ref": "#/components/schemas/Transaction"},
                                    {
                                      "type": "object",
                                      "properties": {
                                        "poh_tick_offset": {"type": "integer", "description": "PoH tick difference from your transaction"},
                                        "matched_in_read": {"type": "boolean"},
                                        "matched_in_written": {"type": "boolean"},
                                        "is_original": {"type": "boolean"}
                                      }
                                    }
                                  ]
                                }
                              },
                              "transaction_count": {"type": "integer"}
                            }
                          }
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_matching_transactions": {"type": "integer"},
                            "displayed_in_page": {"type": "integer"},
                            "slots_with_activity": {"type": "integer"},
                            "earliest_poh_tick_offset": {"type": "integer"},
                            "latest_poh_tick_offset": {"type": "integer"}
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "current_page": {"type": "integer"},
                        "total_items": {"type": "integer"},
                        "has_next_page": {"type": "boolean"}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "example": {
                  "error": "Validation failed",
                  "details": ["signature format is invalid (expected base58, 87-88 chars)"],
                  "timestamp": "2025-10-02T15:30:45.123Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "example": {
                  "error": "Invalid API key",
                  "details": "API key is invalid or has been revoked",
                  "timestamp": "2025-10-02T15:30:45.123Z"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Subscription required",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "example": {
                  "error": "Subscription required",
                  "details": "Active subscription (trial, active, or grace_period) required",
                  "timestamp": "2025-10-02T15:30:45.123Z"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {"$ref": "#/components/schemas/Error"},
                    {
                      "type": "object",
                      "properties": {
                        "retry_after_seconds": {"type": "integer"}
                      }
                    }
                  ]
                },
                "example": {
                  "error": "Too many requests",
                  "message": "Rate limit: 6 requests per minute. Please try again later.",
                  "retry_after_seconds": 45,
                  "timestamp": "2025-10-02T15:30:45.123Z"
                }
              }
            }
          }
        }
      }
    },
    "/backfill-transaction": {
      "post": {
        "summary": "Backfill Transaction",
        "description": "Backfills transaction data for a given signature and account into the analytics database. Useful for ensuring specific transactions are tracked and analyzed within a specified slot range. The backfill runs asynchronously and returns immediately with a request ID for tracking.",
        "operationId": "backfillTransaction",
        "tags": ["Data Management"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["signature", "account"],
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "Transaction signature to backfill (base58, 87-88 characters)",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{87,88}$",
                    "example": "pHXgUjY4cVvi5orXuK3b66MBhF2W3MpXruRGKodqTWze7354iVQ66k1rWCzyWTU7UDeebojPTpW9ZmVv9Dn12cg"
                  },
                  "account": {
                    "type": "string",
                    "description": "The market/account ID to analyze (base58, 32-44 characters)",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                    "example": "FnmStvzQ27Pm4U8r3M6gPD7mnk6ST6HwraPsoNmYpump"
                  },
                  "slotRange": {
                    "type": "integer",
                    "description": "Number of slots before/after to analyze",
                    "default": 2,
                    "minimum": 1,
                    "maximum": 100,
                    "example": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backfill initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {"type": "string", "example": "Backfill started"},
                        "query_info": {
                          "type": "object",
                          "properties": {
                            "signature": {"type": "string"},
                            "account": {"type": "string"},
                            "slot_range": {"type": "integer"},
                            "request_id": {"type": "string", "example": "abc123xyz"}
                          }
                        },
                        "message": {"type": "string", "example": "Backfill initiated. Check logs for completion status."}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {"$ref": "#/paths/~1analyze-trade/post/responses/400"},
          "401": {"$ref": "#/paths/~1analyze-trade/post/responses/401"},
          "403": {"$ref": "#/paths/~1analyze-trade/post/responses/403"}
        }
      }
    },
    "/transaction/{signature}": {
      "get": {
        "summary": "Get Transaction Details",
        "description": "Retrieves detailed information about a specific transaction including slot, timestamp, success status, fee, tokens involved, and market information with human-readable labels and tags.",
        "operationId": "getTransaction",
        "tags": ["Transactions"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "signature",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{87,88}$"
            },
            "description": "Transaction signature (base58, 87-88 characters)",
            "example": "pHXgUjY4cVvi5orXuK3b66MBhF2W3MpXruRGKodqTWze7354iVQ66k1rWCzyWTU7UDeebojPTpW9ZmVv9Dn12cg"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "signature": {"type": "string"},
                        "slot": {"type": "integer"},
                        "blockTime": {"type": "integer", "description": "Unix timestamp"},
                        "success": {"type": "boolean", "description": "Whether transaction succeeded"},
                        "fee": {"type": "integer", "description": "Transaction fee in lamports"},
                        "tokens": {
                          "type": "array",
                          "items": {"type": "string"},
                          "description": "Token mint addresses involved"
                        },
                        "leader": {"type": "string", "description": "Validator pubkey that produced the block"},
                        "client": {"type": "string", "description": "Validator client type (e.g., jito-solana, agave)", "example": "jito-solana"},
                        "clientVersion": {"type": "string", "description": "Version of validator client", "example": "1.18.15"},
                        "validatorName": {"type": "string", "description": "Human-readable validator name", "example": "Jito Validator"},
                        "markets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "poolAddress": {"type": "string"},
                              "account_label": {"type": "string", "example": "Pump.fun AMM (Percolator-WSOL) Market"},
                              "account_tags": {
                                "type": "array",
                                "items": {"type": "string"},
                                "example": ["pump.fun amm", "market"]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "example": {
                  "error": "Transaction not found",
                  "details": "No transaction found with signature: abc123...",
                  "timestamp": "2025-10-02T15:30:45.123Z"
                }
              }
            }
          },
          "401": {"$ref": "#/paths/~1analyze-trade/post/responses/401"},
          "403": {"$ref": "#/paths/~1analyze-trade/post/responses/403"},
          "429": {"$ref": "#/paths/~1analyze-trade/post/responses/429"}
        }
      }
    },
    "/wallet/{address}/signatures": {
      "post": {
        "summary": "Fetch Wallet Signatures",
        "description": "Fetches transaction signatures for a wallet with intelligent caching, pagination, and time filtering. Features 5-minute cache TTL, custom time windows (within 7 days), and efficient RPC batching. Returns lightweight signature data that can be enhanced with other endpoints.",
        "operationId": "getWalletSignatures",
        "tags": ["Wallets"],
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            },
            "description": "Wallet address (base58)",
            "example": "FnmStvzQ27Pm4U8r3M6gPD7mnk6ST6HwraPsoNmYpump"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "Signatures to return per page",
                    "default": 100,
                    "minimum": 1,
                    "maximum": 1000,
                    "example": 100
                  },
                  "before": {
                    "type": "string",
                    "description": "Signature to paginate from (for subsequent pages)",
                    "example": "3AQ8vVrkH5FAG1GV8Ak1rEUc7eKgNuRGEmpUT5TfixZ9..."
                  },
                  "start_time": {
                    "type": "integer",
                    "description": "Unix timestamp - start of time window (must be within 7 days)",
                    "example": 1729368000
                  },
                  "end_time": {
                    "type": "integer",
                    "description": "Unix timestamp - end of time window (must be within 7 days)",
                    "example": 1729371600
                  },
                  "hint_signature": {
                    "type": "string",
                    "description": "Signature to start RPC fetching from (optimization hint)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet signatures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "signatures": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "signature": {"type": "string"},
                              "slot": {"type": "integer"},
                              "blockTime": {"type": "integer"},
                              "success": {"type": "boolean"}
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "has_more": {"type": "boolean"},
                            "next_before": {"type": "string", "description": "Use as 'before' parameter for next page"},
                            "returned": {"type": "integer"},
                            "total_in_window": {"type": "integer"},
                            "from_cache": {"type": "boolean"}
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "time_window_hours": {"type": "integer", "example": 168},
                            "time_window_start": {"type": "integer"},
                            "time_window_end": {"type": "integer"},
                            "wallet_address": {"type": "string"},
                            "processing_time_ms": {"type": "integer"},
                            "cache_key": {"type": "string"}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {"$ref": "#/paths/~1analyze-trade/post/responses/400"},
          "401": {"$ref": "#/paths/~1analyze-trade/post/responses/401"},
          "403": {"$ref": "#/paths/~1analyze-trade/post/responses/403"},
          "429": {"$ref": "#/paths/~1analyze-trade/post/responses/429"}
        }
      }
    },
    "/enhance-metadata": {
      "post": {
        "summary": "Enhance Transaction Metadata",
        "description": "Fetches detailed transaction metadata from Solana RPC including fees, error status, and balance changes. Complements /analyze-trade by providing financial details for each transaction signature. Shows SOL/token balance changes, fees, and success/failure status focused exclusively on the transaction signer. Features 48-hour Redis caching.",
        "operationId": "enhanceMetadata",
        "tags": ["Transactions"],
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["signature"],
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "Transaction signature to enhance (base58, 87-88 characters)",
                    "pattern": "^[1-9A-HJ-NP-Za-km-z]{87,88}$",
                    "example": "5Pj5fCupXLUePYn18JkY8SrRaWFiUctuDTRwvUy2ML9yvkENLb1QMYbcBGcBXRrSVDjp7RjUwk9a3rLC6gpvtYpZ"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enhanced transaction metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "signature": {"type": "string"},
                        "slot": {"type": "integer"},
                        "blockTime": {"type": "integer"},
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "fee": {"type": "integer", "description": "Transaction fee in lamports"},
                            "err": {"type": ["object", "null"], "description": "Error object if transaction failed"},
                            "compute_units_consumed": {"type": "integer"},
                            "signer": {"type": "string", "description": "Transaction signer pubkey"},
                            "leader": {"type": "string"},
                            "client": {"type": "string"},
                            "client_version": {"type": "string"},
                            "validator_name": {"type": "string"},
                            "balance_changes": {
                              "type": "object",
                              "description": "Balance changes for signer only",
                              "properties": {
                                "spl_token_deltas": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "owner": {"type": "string"},
                                      "mint": {"type": "string"},
                                      "delta_base": {"type": "string", "description": "Raw token amount change"},
                                      "decimals": {"type": "integer"},
                                      "delta_ui": {"type": "number", "description": "Human-readable amount change"},
                                      "account_index": {"type": "integer"}
                                    }
                                  }
                                },
                                "sol_deltas": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "pubkey": {"type": "string"},
                                      "delta_lamports": {"type": "string"},
                                      "delta_sol": {"type": "number"},
                                      "account_index": {"type": "integer"}
                                    }
                                  }
                                },
                                "fee_lamports": {"type": "integer"},
                                "summary": {
                                  "type": "object",
                                  "properties": {
                                    "total_spl_changes": {"type": "integer"},
                                    "total_sol_changes": {"type": "integer"}
                                  }
                                }
                              }
                            },
                            "signer_pre_balance": {"type": "integer"},
                            "signer_post_balance": {"type": "integer"},
                            "signer_pre_token_balances": {"type": "array"},
                            "signer_post_token_balances": {"type": "array"}
                          }
                        },
                        "processing_time_ms": {"type": "integer"}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {"$ref": "#/paths/~1analyze-trade/post/responses/400"},
          "401": {"$ref": "#/paths/~1analyze-trade/post/responses/401"},
          "403": {"$ref": "#/paths/~1analyze-trade/post/responses/403"},
          "404": {"$ref": "#/paths/~1analyze-trade/post/responses/404"},
          "429": {"$ref": "#/paths/~1analyze-trade/post/responses/429"}
        }
      }
    }
  },
  "tags": [
    {
      "name": "Trade Analysis",
      "description": "Analyze MEV activity and transaction context"
    },
    {
      "name": "Transactions",
      "description": "Transaction details and metadata"
    },
    {
      "name": "Wallets",
      "description": "Wallet transaction history"
    },
    {
      "name": "Data Management",
      "description": "Backfill and data operations"
    }
  ]
}
